body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(196, 165, 231);
}

.select{
  background-color: green;
}
.title{
  font-size: large;
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  color: rgb(112, 5, 235);
}
.form{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}